@import '~antd/dist/antd.css';

  .about{  
      height: 600px;

   } 
  .firstColumnClass{
    position: relative;;
    top: 22px;
  }

  h3{
   color : white;
   font-size: 20px;
  }




  .ant-card-head-title{
     color : red;
     font-size: 30px;
     font-style: italic;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

 