
.space-agency-details{

  h1{
    color : red;
  }

  .space-header-paragraph{
    color: red;
    height: 80px;
    border-radius: 2px;
    border: 5px solid lightsalmon;
    background-color:white;
    margin-top: 60px;
    font-family: cursive;

    .agency-arrow-left{
      right: 600px;
      position: relative;
      height: 100px;
      top: 9px;
    }

    .space-agency-detials-header{
      font-size: 30px;
      top: 10px;
      position: relative;
      display: inline;
    }
  }
.agency-details-poster-wrapper {
  height: 570px;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3% 450px 450px 80px;
  grid-gap: 15px;
  justify-items: center;

  .agency-details-poster {
    border-radius: 10px;
    border: solid #847f86 10px;
    grid-row: 2;
  }

  .agency-details-info {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    background: rgba(132, 127, 134, 0.7);
    padding: 20px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 20px;
    overflow: scroll;

    .agency-details-info__overview {
      max-height: 400px;
      margin-bottom: 20px;
      overflow: scroll;
    }
  }
}
}
