.isro-page{
    margin-top: 200px;
    margin-left: 70px;
}

.meta-title{
    color: white;
}

#isro {
    width:100%; margin:0;
}


.spinner {
    animation: spin infinite 5s linear;
    color : wheat;
    width: 10em;
    height: 10em;
    margin-top: 300px;

    /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
  }

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

